@font-face {
    font-family: 'Cardenio Modern';
    src: url('../fonts/CardenioModern-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cardenio Modern';
    src: url(/fonts/CardenioModern-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'Cardenio Modern';
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Cardenio Modern';
    font-weight: normal;  
    display: flex;
    justify-content: center;
    background-image: url(/img/Backgroundimg.jpg)
}

.container, .container-privacy, .container-cookie {
    width: 1024px;
    background-image: url('/img/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
}

.navbar {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding-left: 90px; padding-right: 90px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right:20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu a {
    padding: 10px 20px;
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgb(151, 125, 125);
    height: 70px;
    justify-content: center;
    background-color: black;
}

.dropdown-menu a:hover {
    background:  rgba(53, 53, 53, 0.533) !important;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.dropdown-menu.active, .overlay.active {
    display: block;}

.logo img, logo-footer img {
    height: 80px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Cardenio Modern';
}

.nav-links a:hover {color: red;}

.social-links, .social-links-footer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.social-links a, .social-links-footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.social-links a img, .social-links-footer a img{
    cursor:pointer;
    display: block;
}

.slider {
    margin-bottom: 40px;
}

.layout1, .layout2 {
    border-radius: 30px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin-bottom: 40px;
    gap: 40px;
    background-color: #ffffff91;
    border: solid 4px;
    margin: 40px;
    padding: 40px;
    backdrop-filter: blur(3px)
}

.prossimamente {    
    width: 100%;
    background-color: #ff000094;
    color: white;
    padding: 10px 0 10px 0;}

.prossimamente p {
    color: white; 
    font-size: 30pt; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: underline;
}


.colonna1-img img, .colonna2-img img {
    height: auto;
    display: block;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.colonna1-txt p, .colonna2-txt p, .colonna1-txt h2, .colonna2-txt h2 {margin-bottom: 10px};
.colonna2-txt txt {text-align: right;}

p, li {font-size: 14pt;}
h2 {font-size: 20pt;}

/*episodi*/

.ep7-cta {display: none;}

.episodio7, .episodio6, .episodio5, .episodio4, .episodio3, .episodio2, .episodio1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 90px 40px 90px;
    gap:40px;
    background-color:rgba(229, 229, 229, 0.611);
    border-radius: 30px;
    position: relative;
    border: solid 2px #414141;
    backdrop-filter: blur(5px)
}

.ep7-txt txt, .ep6-txt txt, .ep5-txt txt, .ep4-txt txt, .ep3-txt txt, .ep2-txt txt, .ep1-txt txt {
    text-align: justify;
    flex: 1;
    padding: 0 40px;
    }
.ep7-txt h3, .ep6-txt h3, .ep5-txt h3, .ep4-txt h3, .ep3-txt h3, .ep2-txt h3, .ep1-txt h3 {
    margin-bottom: 10px;
    margin-top: 0px;
} 

.ep7-img img, .ep6-img img, .ep5-img img, .ep4-img img, .ep3-img img, .ep2-img img, .ep1-img img {
    /*max-width: 80%;*/ /* Assicura che l'immagine non sfori il contenitore */
    max-width: 150px;
    height: auto;
    display: block;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.ep7-cta cta, .ep6-cta cta, .ep5-cta cta, .ep4-cta cta, .ep3-cta cta, .ep2-cta cta, .ep1-cta cta {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: flex-end;*/
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 40px;
}

.ep7-cta cta a, .ep6-cta cta a, .ep5-cta cta a, .ep4-cta cta a, .ep3-cta cta a, .ep2-cta cta a, .ep1-cta cta a {
        /*display: block;*/
        margin-bottom: 20px;
        border-radius: 30px;
    }

    
.ep7-cta img, .ep6-cta img, .ep5-cta img, .ep4-cta img, .ep3-cta img, .ep2-cta img, .ep1-cta img {
        /*display: block;*/
        max-width: 80px;
        border-radius:30px;
    }

.overlay-episodi {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(176, 176, 176, 0.903);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        z-index: 1000;
        border-radius: 30px;
}


.contact-form {
        max-width: 1024px;
        margin: 0 90px 40px 90px;
        padding: 20px;
        background-color: rgba(19, 20, 43, 0.4);
        border-radius: 30px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        border: solid 2px #414141;
    }
    
.contact-form form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
.flex-row {
        display: flex;
        gap: 20px;
    }
    
.flex-row input {
        flex: 1;
    }
    

.contact-form input, .contact-form textarea, .contact-form button {
        padding: 15px;
        font-size: 20px;
        font-family: 'Cardenio Modern';
        font-weight: bold;
        border-radius:15px;
}

.contact-form button {
    background-color: #9ee7a1;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.contact-form button:hover {
    background-color: #7cb57e;
}

.privacy {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.privacy input {
    width: auto;
    margin-right: 10px;
}

.privacy label a {
    color:crimson;
    text-decoration: none;
}

.privacy label a:hover {
    text-decoration: underline;
}

.footer {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    text-align: center;
}

.footer p {
    margin: 10px 0;
    font-family: 'Cardenio Modern', sans-serif;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.cookie-privacy-policy-footer {display: flex; justify-content: center; margin-top: 20px; gap:30px;}

#accept-cookies, #decline-cookies {
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}
#decline-cookies {
    background: #d9534f;
}
#accept-cookies:hover, #decline-cookies:hover {
    opacity: 0.8;
}

.footer-content p {
    margin-bottom: 20px;}

.social-links-footer {
    margin-bottom: 20px;}
    
.logo-footer img {
    margin-bottom: 20px;}

.text-privacy, .text-cookie {
    padding: 40px 90px 40px 90px;
    background-color: rgba(255, 255, 255, 0.7);}

.text-privacy h3, .text-cookie h3 {margin-top: 50px;}

.text-privacy ul, .text-cookie ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}
.text-privacy ul li, .text-cookie ul li {
    margin: 5px 0;
};


/*responsive*/

@media (min-width: 1920px) {

    .container, .container-privacy, .container-cookie {
        width: 1024px;
        background-image: url('/img/Background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
    }

    .navbar {
        background-color: white;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 90px;
        padding-right: 90px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    .layout1, .layout2 {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 90px;
        padding-right: 90px;
        margin-bottom: 40px;
        gap: 40px;
    }

    .episodio1, .episodio2, .episodio3, .episodio4, .episodio5, .episodio6, .episodio7 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 0 90px 40px 90px;
        gap: 40px;
        background-color: rgba(19, 20, 43, 0.4);
        border-radius: 30px;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .container, .container-privacy, .container-cookie{
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .layout1, .layout2 {
        flex-direction: column;
        justify-content: center;
        padding: 0 40px 0 40px;
    }

    .colonna1-txt, .colonna1-img, .colonna2-txt, .colonna2-img{display: flex; flex-direction: column; text-align: center;}
    .colonna1-img, .colonna2-img {padding-top: 20px; width: 100%; height: auto;}
    .colonna1-txt, .colonna2-txt {padding-bottom: 20px;}

    .episodio1, .episodio2, .episodio3, .episodio4, .episodio5, .episodio6, .episodio7 {
        justify-content: center;
        padding: 20px;
        display: grid;
        justify-items: center;
        text-align: center;
        margin: 0 40px 40px 40px;
    }

    .episodio1-img, .episodio2-img, .episodio3-img, .episodio4-img, .episodio5-img, .episodio6-img, .episodio7-img {
        margin-bottom: 20px;
    }

    /* Adattamento dei font e delle immagini */
    h1 {
        font-size: 16pt;
    }

    h2 {
        font-size: 14pt;;
    }

    h3 {
        font-size: 12pt;
    }

    p, li {
        font-size: 10pt;
    }

    .contact-form input, .contact-form textarea, .contact-form button {
        font-size: 10pt;
    }

    .contact-form {margin: 0 40px 40px 40px;}

    .privacy, .cookie {
        font-size: 10pt;
    }
    .text-privacy, .text-cookie {text-align: center; padding: 40px;}

    .footer p, .navbar p, footer a {
        font-size: 10pt;
    }

    video, img {
        max-width: 100%;
        height: auto;
    }

    .flex-row {display: grid;}

    .nav-links, .social-links {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    .show {
        display: block;
    }

    .overlay .show {
        display: block;
    }

    .colonna1-txt{order:2}
    .colonna1-img{order:1}

    .prossimamente p {font-size: 30px;}
}